<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <style>
        body {
            background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            overflow: hidden;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
    }
        div {
            color: white;
            text-align: center;
            font-family: 'Segoe UI';
            font-size: 127.5%;
    }

        .txt {
            text-align: start;
    }

        a {
            color: white;
    }
        #username, #password {
            height: 30px;
            font-weight: 90px;
            border-color: white;
            border-radius: 4px;
            position: relative;
            bottom: 4px;
    }

        #password{
            left: 10px;
    }

        #submitbtn {
            background-color: transparent;
            color: white;
            position: relative;
            font-size: 16px;
            top: 10px;
            left: 65px;
            height: 30px;
            width: 90px;
            border-radius: 5px;
            border: 2px white solid;
    }
        #submitbtn:hover {
            background-color: white;
            color: black;
        }

        .wrap {
        border: 2px white solid;
        border-radius: 15px;
        padding: 35px 35px 75px 35px;
    }
        input {
            font-size: 16px;
            padding: 0px 5px 0px 5px;
            border: 1px white solid;
            background-color: transparent;
            color: white;
    }

        input:focus {
            outline: none;
    }

        ::placeholder {
        color: white;
    }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="form-container">
            <h2>Register</h2>
            <form action="/register" method="post">
                <div class="form-group txt" >
                    <label for="name">Username: </label>
                    <input type="text" id="username" name="username" placeholder="Your Username">
                </div>
                <div class="form-group txt">
                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" placeholder="Your Password">
                </div>
                <button type="submit" class="submit-btn" id="submitbtn">Register</button>
            </form>
        </div>
    </div>
</body>
</html>